{% extends 'base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block body %}
    <div class="container-fluid m-2 p-0">
        <div class="{{ formFullColBlock }} flex-fill p-0">
            <div class="p-2 d-flex align-items-start justify-content-center align-content-start container-title-block">
                <h1>Creation d'une nouvelle demande de board member :</h1>
            </div>
            {{ include('profile/_user_and_board_skill.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
