{% extends 'base.html.twig' %}

{% block title %}New Enterprise{% endblock %}

{% block body %}
<div class="{{ containerStd }} ">
    <div class="{{ formBlock }}">

    <h1>Create new Enterprise</h1>

    {{ include('enterprise/_form.html.twig') }}

    <a href="{{ path('enterprise_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
