{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="{{ containerStd }} login">
    <div class="d-flex justify-content-around align-items-center align-content-center login bnj-form-width">

        <form method="post">
            <div class="d-flex justify-content-around">
                <h1>Réinitialisation du mot de passe</h1>
            </div>

            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Nouveau mot de passe" required>
            <input type="hidden" name="token" value="{{ token }}">
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn" id="valider">Valider le mot de passe</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
