{% extends 'base.html.twig' %}

{% block title %}Trouve Ton Board{% endblock %}

{% block body %}

    <div class="container-cgu">

        <h1>Conditions Générales d’Utilisation - CGU</h1>

        <h3>Définitions</h3>
        <p>
            Le Site TrouveTonBoard : désigne le site internet hébergé à l’adresse URL
            www.trouvetonboard.com
            L’Utilisateur / Le Visiteur : correspond à tout internaute accédant à une ou des
            pages du Site, ou se connectant au Site www.trouvetonboard.com
            L’Editeur : désigne la société - Bételgeuse Conseil - (SASU), Société par
            Actions Simplifiée Unipersonnelle au capital de 7.500€, immatriculée au
            Registre du Commerce et des Sociétés de Lyon sous le numéro RCS 808 898
            662, ayant son siège social au 19 route de Sain Bel, 69260 Charbonnières-
            Les-Bains (France).
        </p>

        <h3>Acceptation préalable, pure et simple par tout Utilisateur / Visiteur du Site</h3>
        <p>
            Il est expressément convenu que le seul fait d’accéder à ou de consulter l’une
            des pages du Site www.trouvetonboard.com constitue une acceptation pure et
            simple et sans réserve de l’intégralité des présentes Conditions Générales
            d’Utilisation - CGU.
            Il est également expressément convenu que les présentes conditions pourront
            être modifiées par l’Editeur, à tout moment et sans information préalable de
            l’Utilisateur / le Visiteur, et que ces modifications entreront en vigueur dès leur
            mise en ligne. Par conséquent, l’Utilisateur / le Visiteur est invité à consulter
            régulièrement la présente page.
        </p>

        <h3>Accès au Site</h3>
        <p>
            Le Site www.trouvetonboard.com est accessible à tout moment, sous réserve
            des cas de force majeure et des opérations régulières de maintenance.
            L’Utilisateur / le Visiteur s’engage expressément à accéder au Site
            www.trouvetonboard.com en utilisant un matériel récent, ne contenant pas de
            virus et avec un navigateur de dernière génération mis-à-jour.
        </p>

        <h3>Droits sur le Site et ses contenus</h3>
        <p>
            Le Site www.trouvetonboard.com, sa structure, son design et l’ensemble de
            son contenu textuel, figuratif, sonore ou vidéo, le sigle (soit : le terme « TTB »
            et son logo, le nom de domaine www.trouvetonboard.com constituent la
            propriété exclusive de l’Editeur – Bételgeuse Conseil -, lequel est titulaire
            exclusif de l’intégralité des droits y relatifs, notamment de propriété
            intellectuelle (notamment, droits d’auteur, dessins et modèles, droits de
            marque, droits à l’image).
            Ainsi, toute reproduction, représentation, utilisation, diffusion, modification,
            décompilation, adaptation, partielle ou totale, du Site www.trouvetonboard.com
            ou de l’une de ses composantes, est expressément interdite et pourrait faire
            l’objet de poursuites pénales ou civiles, sous réserve d’avoir obtenu
            l’autorisation préalable, expresse et écrite de l’Editeur – Bételgeuse Conseil -.
            La mention de ou la référence à l’Editeur – Bételgeuse Conseil -, au Site
            www.trouvetonboard.com ou au sigle « TTB » dans le cadre de la liberté
            d’information, ou plus largement d’expression, est autorisée, sous réserve des
            limites fixées par la loi.
        </p>

        <h3>Liens hypertexte</h3>
        <p>
            La création de liens hypertexte vers le Site www.trouvetonboard.com est
            expressément interdite, sous réserve de l’autorisation préalable et écrite de
            l’Editeur – Bételgeuse Conseil -, laquelle pourra être révoquée à tout moment
            sans motif.
        </p>

        <h3>Informations délivrées sur le Site</h3>
        <p>
            L’Editeur - Bételgeuse Conseil - fait ses meilleurs efforts pour délivrer sur ce
            Site www.trouvetonboard.com une information à jour, mais ne saurait le
            garantir à chaque instant.
        </p>

        <h3>Données personnelles</h3>
        <p>
            A) Conformément à la loi Informatique et libertés du 6 janvier 1978 modifiée en
            2004, le traitement des informations collectées, notamment, à partir du Site
            www.trouvetonboard.com a fait l’objet d’une déclaration à la CNIL. <br><br>

            B) L’Editeur - Bételgeuse Conseil - est responsable du traitement des données
            des Utilisateurs / Visiteurs. La collecte est fondée sur le consentement des
            Utilisateurs / Visiteurs et exclusivement destinée au traitement de l’Editeur -
            Bételgeuse Conseil -.<br><br>

            C) Lors de la navigation des Utilisateurs / Visiteurs sur le Site
            www.trouvetonboard.com, les données suivantes peuvent être recueillies :<br>

            - L’URL de provenance de l’Utilisateur / du Visiteur pour accéder au Site
            www.trouvetonboard.com ; <br>
            - Le fournisseur d’accès à Internet et l’adresse de protocole Internet (IP)
            de l’Utilisateur ;<br>
            - Les pages consultées etc.<br>
            Les Utilisateurs / Visiteurs disposent de la libre faculté de fournir d’autres
            informations personnelles les concernant. La fourniture de ces informations
            n’est pas indispensable pour la navigation et le fonctionnement du Site, leur
            conservation est effectuée pendant une période raisonnable.<br><br>

            D) Les informations recueillies par le biais des formulaires « client » et
            « advisor » du Site www.trouvetonboard.com font l’objet d’un traitement par
            l’Editeur - Bételgeuse Conseil - à seule fin, et pour le temps nécessaire, au bon
            déroulement du traitement de vos demandes, ainsi qu’à leur suivi.
            Il est expressément convenu que lorsque l’Utilisateur / le Visiteur remplit le(s)
            formulaire(s) précité(s), il consent préalablement, expressément et sans
            réserve, à ce que ses données personnelles soient utilisées conformément aux
            usages convenus entre le Site www.trouvetonboard.com et l’Utilisateur -
            Bételgeuse Conseil -.<br><br>

            E) Conformément à la loi Informatique et libertés du 6 janvier 1978 modifiée en
            2004, l’Utilisateur / le Visiteur bénéficie d’un droit de / d’ :<br>
            - accès, de rectification, de mise à jour et d’effacement des informations
            qui le concernent ;<br>
            - opposition au traitement des données à caractère personnel le
            concernant pour des motifs légitimes (i), sans motifs et sans frais (ii), à
            ce que ces données soient utilisées à des fins de prospection
            commerciale ;<br>
            - interrogation du responsable de traitement des données le concernant ;<br>
            - définir les directives relatives au sort de ses données personnelles après
            sa mort ;<br>
            - portabilité de leurs données d’un système automatisé à un autre, sans
            que le responsable du traitement ne puisse y faire obstacle. Les
            données sont conservées dans un format structuré, couramment utilisé
            et lisible par la machine ;<br>
            - limitation de l’utilisation de leurs données personnelles pour motifs
            légitimes ;<br>
            - être informé par notification en cas de faille de sécurité et d’accès illicite
            à leurs informations ;<br>
            - retrait du consentement à tout moment au traitement de données dont il
            fait l’objet ;<br>
            - introduire une réclamation auprès d’une autorité de contrôle en cas
            d’une violation de la société - Bételgeuse Conseil - de ces droits.<br><br>

            Tout Utilisateur / Visiteur du Site www.trouvetonboard.com peut exercer ces
            droits ci-décrits en s’adressant à l’Editeur - Bételgeuse Conseil - par email
            (contact[arobase]trouvetonboard.fr) ou par courrier postal (Bételgeuse Conseil
            – 19, route de Sain Bel – 69 260 Charbonnières-Les-Bains - France), en
            joignant impérativement à sa demande une copie d’une pièce d’identité.
        </p>

        <h3>Responsabilité</h3>
        <p>
            Il est expressément convenu que l’Editeur - Bételgeuse Conseil -, ses
            actionnaires, son président, ses dirigeants, employés ou prestataires, ne
            pourront pas être tenus pour responsables, ni mis en cause, directement ou
            indirectement, individuellement ou collectivement, à raison des dommages –
            quelles que soient leurs origines ou conséquences – susceptibles de résulter,
            directement ou indirectement, des informations, données et éléments figuratifs
            diffusés sur le Site www.trouvetonboard.com, de la visite du Site, de l’accès ou
            de l’impossibilité d’accès au Site, de l’utilisation du Site, y compris en cas
            d’apparition d’un bug ou d’une incompatibilité.
        </p>

        <h3>Nullité d’une clause</h3>
        <p>
            Dans le cas où un tribunal compétent venait à annuler, considérer comme non
            applicable ou écarter, l’une des clauses des présentes conditions, les autres
            dispositions contenues dans celles-ci resteront efficaces et en vigueur.
        </p>

        <h3>Résolution des litiges</h3>
        <p>
            Le Site www.trouvetonboard.com et les présentes conditions générales
            d’utilisation sont exclusivement soumis au droit français.
            Les juridictions lyonnaises seront exclusivement compétentes pour trancher les
            contestations, réclamations ou litiges liés au Site www.trouvetonboard.com ou
            à l’Editeur - Bételgeuse Conseil -.
        </p>
    </div>

{% endblock %}
