{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/cr7t3k/Project/TrouveTonBoard/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/cr7t3k/Project/TrouveTonBoard/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>


    {#      Lorum Ipsum pour remplir    #}
    <p>
        Objectively evisculate seamless e-business and user friendly web-readiness. Authoritatively e-enable scalable data for functional functionalities. Collaboratively empower excellent intellectual capital whereas just in time imperatives. Distinctively foster prospective deliverables rather than distinctive metrics. Dramatically build maintainable partnerships whereas process-centric ideas.

        Dramatically synergize excellent communities rather than ubiquitous interfaces. Proactively strategize inexpensive growth strategies for process-centric metrics. Objectively incentivize best-of-breed internal or "organic" sources and multidisciplinary bandwidth. Authoritatively engage next-generation information for parallel content. Completely develop viral quality vectors after sticky leadership.

        Synergistically cultivate low-risk high-yield outsourcing whereas highly efficient collaboration and idea-sharing. Efficiently utilize fully tested manufactured products whereas efficient "outside the box" thinking. Synergistically supply cooperative opportunities and business platforms. Seamlessly syndicate transparent sources with empowered process improvements. Conveniently synthesize real-time e-services via premier alignments.

        Objectively develop bricks-and-clicks quality vectors whereas cross-unit portals. Intrinsicly generate distributed "outside the box" thinking without visionary markets. Continually drive exceptional testing procedures after efficient best practices. Enthusiastically e-enable vertical metrics without global web-readiness. Quickly actualize world-class solutions whereas low-risk high-yield models.

        Completely promote unique systems via intermandated infrastructures. Compellingly revolutionize worldwide interfaces rather than client-centric networks. Quickly productize transparent technology before focused opportunities. Dynamically e-enable high-payoff growth strategies whereas maintainable e-tailers. Continually drive ethical deliverables without superior web-readiness.

        Enthusiastically incubate alternative deliverables with transparent models. Proactively incentivize high-payoff e-business before alternative solutions. Synergistically synthesize market-driven resources vis-a-vis sticky e-tailers. Progressively streamline alternative infrastructures for front-end markets. Dramatically iterate visionary quality vectors vis-a-vis sustainable technologies.

        Interactively leverage other's 2.0.
    </p>
</div>
{% endblock %}
