{% extends 'base.html.twig' %}

{% block title %}Information Entreprises{% endblock %}

{% block body %}
    <div class="home-information-title">
        <h1>Entreprise</h1>
    </div>
    <div class="info-enterprise" >
        <div>
            <img height="300" width="300" src="image/information.svg" alt="">
        </div>
        <div class="align-self-center text-info-enterprise">
            <p>Vous cherchez à créer un Advisory Board
                Vous êtes dirigeant et vous avez la tête dans l’opérationnel, vous souhaitez prendre du recul !
                Vous souhaitez vous exposer à l’exigence du regard externe de spécialistes.
                Vous souhaitez être challengé de manière bienveillante et réaliste sur votre business.
                Vous avez besoin de compétences que vous ne pouvez intégrer à temps plein pour le moment dans votre entreprise.
                Vous cherchez un administrateur indépendant
            </p>
        </div>
    </div>
    <div class="home-btn">
        <a class="home-btn1" href="{{ path('app_register') }}">Je m'inscris</a>
    </div>
{% endblock %}