{% extends 'base.html.twig' %}

{% block title %}Trouve Ton Board{% endblock %}

{% block body %}

    <div class="container-cgu">

        <h1>Mentions Légales :</h1>
        <h2>Mentions légales du site TrouveTonBoard - www.trouvetonboard.com</h2>

        <h3>Éditeur du site</h3>
        <p>
            www.trouvetonboard.com est édité par l’entreprise Bételgeuse Conseil,
            Société par Actions Simplifiée Unipersonnelle,
            immatriculée au registre du commerce et des sociétés (R.C.S.) de Lyon sous le numéro 828 161 612,
            et dont le siège social est situé 19 route de Sain Bel (69260).<br><br>

            L’éditeur est joignable par courrier électronique à l’adresse suivante : contact[arobase]trouvetonboard.fr
        </p>

        <h3>Hébergement du site</h3>
        <p>
            Le site est hébergé par OVH :<br>
            OVH.com<br>
            SAS au capital de 10 069 020 €<br>
            RCS Lille Métropole 424 761 419 00045<br>
            Code APE 2620Z<br>
            N° TVA : FR 22 424 761 419<br>
            Siège social : 2 rue Kellermann - 59100 Roubaix – France<br>
            <br>
            Le directeur de la publication et responsable de la rédaction du présent site est Monsieur Cédric Delannoy, Président de Bételgeuse Conseil.

        </p>

        <h3>Propriété intellectuelle du site</h3>
        <p>
            Toutes les informations reproduites dans le site www.trouvetonboard.com (textes, photos, logos...)
            sont protégées par des droits de propriété intellectuelle détenus par Bételgeuse Conseil.
            <br>
            Par conséquent, aucune de ces informations ne peut être reproduite, modifiée, rediffusée, traduite,
            exploitée commercialement ou réutilisée de quelque manière que ce soit sans l'accord préalable et écrit
            de Bételgeuse Conseil.
            <br>
            Le nom, le logo, la mise en page, la forme du site www.trouvetonboard.com mais aussi son contenu tels que
            les actualités, descriptions, illustrations et images originales et leur organisation, ainsi que toute
            compilation de logiciels, code source fondamental et autres éléments contenus sur le site
            www.trouvetonboard.com sont la propriété de la société Bételgeuse Conseil.

        </p>

        <h3>Accès au site</h3>
        <p>
            La société Bételgeuse Conseil s'efforce de maintenir accessible le site www.trouvetonboard.com,
            sans pour autant être tenu à aucune obligation d'y parvenir. Il est précisé qu'à des fins de maintenance,
            de mise à jour et pour toute autre raison, notamment d'ordre technique,
            l'accès au site www.trouvetonboard.com pourra être interrompu. La société Bételgeuse Conseil n'est en aucun
            cas responsable de ces interruptions et des conséquences qui peuvent en découler pour l'utilisateur.

        </p>

        <h3>Protection des données personnelles</h3>
        <p>
            La société Bételgeuse Conseil peut être amenée à collecter des données personnelles concernant l'utilisateur,
            entre autre via son site www.trouvetonboard.com. En vertu de la loi française n° 78-17 du 6 janvier 1978
            relative à l'informatique, aux fichiers et aux libertés, tout utilisateur ayant déposé dans le service des
            informations directement ou indirectement nominatives peut demander la communication des informations
            personnelles le concernant à l'administrateur du service, les faire rectifier ou supprimer le cas échéant en
            s'adressant à Bételgeuse Conseil – 19 Route de Sain Bel – 69 260 Charbonnières-les-Bains (France).
        </p>

        <h3>Liens hypertextes</h3>
        <p>
            Nos pages web proposent parfois également des liens vers d'autres sites pour lesquels nous ne sommes
            responsables ni de leur intégral respect aux normes d'ordre public et bonnes mœurs, d'une part,
            ni de leur politique de protection des données personnelles ou d'utilisation qui en seraient faites,
            d'autre part.
            <br>
            En accédant à un autre site, par l'intermédiaire d'un lien hypertexte, vous acceptez que cet accès
            s'effectue à vos risques et périls. En conséquence, tout préjudice direct ou indirect résultant de
            votre accès à un autre site relié par un lien hypertexte ne peut engager la responsabilité de la société
            Bételgeuse Conseil.

        </p>

        <h3>Données personnelles</h3>
        <p>
            A) Conformément à la loi Informatique et libertés du 6 janvier 1978 modifiée en
            2004, le traitement des informations collectées, notamment, à partir du Site
            www.trouvetonboard.com a fait l’objet d’une déclaration à la CNIL. <br><br>

            B) L’Editeur - Bételgeuse Conseil - est responsable du traitement des données
            des Utilisateurs / Visiteurs. La collecte est fondée sur le consentement des
            Utilisateurs / Visiteurs et exclusivement destinée au traitement de l’Editeur -
            Bételgeuse Conseil -.<br><br>

            C) Lors de la navigation des Utilisateurs / Visiteurs sur le Site
            www.trouvetonboard.com, les données suivantes peuvent être recueillies :<br>

            - L’URL de provenance de l’Utilisateur / du Visiteur pour accéder au Site
            www.trouvetonboard.com ; <br>
            - Le fournisseur d’accès à Internet et l’adresse de protocole Internet (IP)
            de l’Utilisateur ;<br>
            - Les pages consultées etc.<br>
            Les Utilisateurs / Visiteurs disposent de la libre faculté de fournir d’autres
            informations personnelles les concernant. La fourniture de ces informations
            n’est pas indispensable pour la navigation et le fonctionnement du Site, leur
            conservation est effectuée pendant une période raisonnable.<br><br>

            D) Les informations recueillies par le biais des formulaires « client » et
            « advisor » du Site www.trouvetonboard.com font l’objet d’un traitement par
            l’Editeur - Bételgeuse Conseil - à seule fin, et pour le temps nécessaire, au bon
            déroulement du traitement de vos demandes, ainsi qu’à leur suivi.
            Il est expressément convenu que lorsque l’Utilisateur / le Visiteur remplit le(s)
            formulaire(s) précité(s), il consent préalablement, expressément et sans
            réserve, à ce que ses données personnelles soient utilisées conformément aux
            usages convenus entre le Site www.trouvetonboard.com et l’Utilisateur -
            Bételgeuse Conseil -.<br><br>

            E) Conformément à la loi Informatique et libertés du 6 janvier 1978 modifiée en
            2004, l’Utilisateur / le Visiteur bénéficie d’un droit de / d’ :<br>
            - accès, de rectification, de mise à jour et d’effacement des informations
            qui le concernent ;<br>
            - opposition au traitement des données à caractère personnel le
            concernant pour des motifs légitimes (i), sans motifs et sans frais (ii), à
            ce que ces données soient utilisées à des fins de prospection
            commerciale ;<br>
            - interrogation du responsable de traitement des données le concernant ;<br>
            - définir les directives relatives au sort de ses données personnelles après
            sa mort ;<br>
            - portabilité de leurs données d’un système automatisé à un autre, sans
            que le responsable du traitement ne puisse y faire obstacle. Les
            données sont conservées dans un format structuré, couramment utilisé
            et lisible par la machine ;<br>
            - limitation de l’utilisation de leurs données personnelles pour motifs
            légitimes ;<br>
            - être informé par notification en cas de faille de sécurité et d’accès illicite
            à leurs informations ;<br>
            - retrait du consentement à tout moment au traitement de données dont il
            fait l’objet ;<br>
            - introduire une réclamation auprès d’une autorité de contrôle en cas
            d’une violation de la société - Bételgeuse Conseil - de ces droits.<br><br>

            Tout Utilisateur / Visiteur du Site www.trouvetonboard.com peut exercer ces
            droits ci-décrits en s’adressant à l’Editeur - Bételgeuse Conseil - par email
            (contact[arobase]trouvetonboard.fr) ou par courrier postal (Bételgeuse Conseil
            – 19, route de Sain Bel – 69 260 Charbonnières-Les-Bains - France), en
            joignant impérativement à sa demande une copie d’une pièce d’identité.
        </p>

        <h3>Responsabilité</h3>
        <p>
            Il est expressément convenu que l’Editeur - Bételgeuse Conseil -, ses
            actionnaires, son président, ses dirigeants, employés ou prestataires, ne
            pourront pas être tenus pour responsables, ni mis en cause, directement ou
            indirectement, individuellement ou collectivement, à raison des dommages –
            quelles que soient leurs origines ou conséquences – susceptibles de résulter,
            directement ou indirectement, des informations, données et éléments figuratifs
            diffusés sur le Site www.trouvetonboard.com, de la visite du Site, de l’accès ou
            de l’impossibilité d’accès au Site, de l’utilisation du Site, y compris en cas
            d’apparition d’un bug ou d’une incompatibilité.
        </p>

        <h3>Nullité d’une clause</h3>
        <p>
            Dans le cas où un tribunal compétent venait à annuler, considérer comme non
            applicable ou écarter, l’une des clauses des présentes conditions, les autres
            dispositions contenues dans celles-ci resteront efficaces et en vigueur.
        </p>

        <h3>Résolution des litiges</h3>
        <p>
            Le Site www.trouvetonboard.com et les présentes conditions générales
            d’utilisation sont exclusivement soumis au droit français.
            Les juridictions lyonnaises seront exclusivement compétentes pour trancher les
            contestations, réclamations ou litiges liés au Site www.trouvetonboard.com ou
            à l’Editeur - Bételgeuse Conseil -.
        </p>
    </div>

{% endblock %}
