.container-std {
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}

.container-std-bg-white {
    @extend .container-std;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: $cust-container-std-text-color;
    text-shadow: $cust-container-std-text-shadow;
    background-color: $cust-container-std-bgcolor;
    box-shadow: $cust-box-shadow;
}

.container-std-bg-white-bootstrap {
    @extend .container-std;
    color: $cust-container-std-text-color;
    text-shadow: $cust-container-std-text-shadow;
    background-color: $cust-container-std-bgcolor;
    box-shadow: $cust-box-shadow;
}

.container-title-block {
    color: white;
    text-shadow: $cust-container-std-text-shadow;
    background-color: $style-guide-blue;
    border-radius: $cust-border-radius $cust-border-radius 0 0 ;
}

.container-a {
    a{
        color:$style-guide-dark;
        text-shadow: $cust-container-std-text-shadow;
        border-radius: $cust-border-radius $cust-border-radius 0 0;
    }

    a:hover {
        color: $style-guide-blue;
        text-shadow: $cust-container-std-text-shadow;
    }

}

.container-btn {

    button, a {
        padding: $style-guide-button-padding;
        background-color: white;
        color: black !important;
        border-style: solid;
        border-color: $style-guide-blue;
        border-width: $style-guide-button-border-width;
        margin-top: $cust-container-std-childs-margin-top;
        border-radius: $cust-container-std-radius;
        text-decoration: none !important;
        text-decoration-color: black !important;

    }

    a:link {
        text-decoration: none;
        color: black !important;
        text-decoration-color: black !important;
    }

    a:visited {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
        color: black !important;
    }




    button:hover, a:hover {
        background-color: white;
        color: black;
        border-style: solid;
        box-shadow: $cust-box-shadow;
    }
}

    .cust-grid-col-1-line-3fill-midel {
        display: grid;
        height: 100%;
        grid-template-columns:1fr;
        grid-template-rows: 5px minmax(10%, 85%) minmax(40px,100px);

    }

    // used for table inline cowlumn value
    .container-table {
    tbody{
        tr{
            td{
                font-weight: lighter !important;
                color: $style-guide-dark;
                font-size: 0.9rem;
            }
            th{

            }
        }
    }

    }


