.login {
  form{
    div{
      margin-top: $cust-container-std-childs-margin-top;
    }

    h1{
      margin-top: $cust-container-std-childs-margin-top;
    }
    label{
      margin-top: $cust-container-std-childs-margin-top;
    }
    input{
      background-color: $cust-bg-input-form;
    }
    button {
      background-color: $cust-bg-input-form;
      margin-top: $cust-container-std-childs-margin-top;
    }

  }


}
