#CVAdvisor {
  display: none;
}

.bnj-modal-dialog {
  overflow-y: initial;
}

.bnj-modal-content {
  width: 55vw;
}

.bnj-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}