#CVAdvisor {
  opacity: 0;
  transition: opacity 800ms;
}

#CVAdvisor.fadeIn {
  opacity: 1;
}

.bnj-modal-dialog {

}

.bnj-modal-content {
  width: 55vw;
}

.bnj-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}