{% extends 'base.html.twig' %}

{% block title %}Edit Advisor{% endblock %}

{% block body %}
    <h1>Edit Advisor</h1>

    {{ include('advisor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('advisor_index') }}">back to list</a>

    {{ include('advisor/_delete_form.html.twig') }}
{% endblock %}
