{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="containerStdProfile flex-column form-gca p-0">
            <div class="p-2 d-flex align-items-start justify-content-start align-content-start container-title-block">
                <h3>Modifier vos informations</h3>
            </div>
            {{ include('user/_form.html.twig', {'button_label': 'Mise a jour'}) }}
        </div>
    </div>
{% endblock %}
